body {
    /* background-color: red; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*  background: linear-gradient(#bceefd, #759df1);*/
    background: url(../assets/pexels-pixabay-373076.jpg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
}

.header {
    align-items: center;
    background-color: rgba(50, 159, 163, 0.5);
    /* color: rgb(0, 0, 0);*/
    display: flex;
    height: 150px;
    justify-content: space-between;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    top: 0px;
    width: 100%;
    font-size: 18px;
    text-decoration: none;
    box-sizing: border-box;
}

.header img {
    border-radius: 15px;
    margin: left 2px;
    padding: left 4px;
}

.list {
    align-items: center;
    background-color: rgba(57, 163, 167, 0.5);
    color: rgb(6, 5, 63);
    display: flex;
    height: 150px;
    justify-content: space-between;
    top: 0px;
    width: 100%;
    margin: 3px;
    font-size: 18px;
    border-radius: 15px;
    list-style: none;
}

.list li a {
    color: rgb(12, 12, 12);
    padding: 12px 20px;
    text-decoration: none;
    line-height: 30px;
    font-size: 16px;
}

.list li a:hover {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

.list li a:active {
    background: rgb(38, 106, 116);
    color: #fff;
    border-radius: 6px;
}

.carousel {
    overflow: scroll;
    padding-left: 30px;
    width: 100%;
    position: relative;
}

.carousel__container {
    transition: 450ms -webkit-transform;
    transition: 450ms transform;
    transition: 450ms transform, 450ms -webkit-transform;
    font-size: 0;
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;
}

.carousel__container:hover .carousel-item {
    opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 1;
}

.carousel-item {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 200px;
    height: 250px;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 450ms all;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.carousel-item:hover~.carousel-item {
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
}

.carousel-item__img {
    width: 200px;
    height: 250px;
    -o-object-fit: cover;
    object-fit: cover;
}

.carousel-item__details {
    align-items: flex-start;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    bottom: 0;
    display: flex;
    font-size: 10px;
    flex-direction: column;
    justify-content: flex-end;
    left: 0;
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
}

.carousel-item__details--img {
    width: 20px;
}

.carousel-item:hover .carousel-item__details {
    opacity: 1;
}

.carousel-item__details--title {
    color: white;
    margin: 5px 0px 0px 0px;
}

.carousel-item__details--subtitle {
    color: white;
    font-size: 8px;
    margin: 3px 0px;
}