{% extends 'layout.html' %} {% block title %} Página de Confirmación Datos Actualizados {% endblock %} {% block content %}
<hr>
<h3>
    {{rstDB}}
</h3>

<form action="/">
    <button>
                <h3>
                    Aceptar
                </h3>
            </button>
</form>
<hr> {% endblock %}